{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true
  },
  "installedESLint": true,
  "rules": {
    "strict": 0,
    "semi": [
      "error",
      "always"
    ],
    "no-extra-boolean-cast": "off",
    "no-console": "off"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}